@use "../../main-style/style.scss";

.Sidebar-contaier {
    position: fixed; bottom: 2%;left: 10px; 
    border-radius: 10px;
    color:style.$color;
    background-color: style.$secand-bg;
    .icon-section {
        cursor: pointer;
        li{
            padding: 10px;
            &:hover{
                color: style.$hover-color;
            }
            a{
                color: style.$color;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .Sidebar-contaier {
        display: none;
    }
    
}