$main-bg:#25316D;
$color:rgb(255, 255, 255);
$secand-bg:#5F6F94;
$hover-color:#D2DAFF;
$font: 'Fira Sans', sans-serif;

body{
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: $font;
    font-style: italic;

}

%flex{
display: flex;justify-content: center; align-items: center;
}
%Main{
    margin: 0;padding: 0;text-decoration:none;box-sizing: border-box;
}